<footer class="page-section">
    <div class="section-wrapper">
        <div class="stack">
            <h5>Copyright ©️ 2020 ZIC</h5>
            <h5>Site Design by ZIC, site build by <a class="inline" href="https://www.unseenmedia.io">unseen media</a></h5>
        </div>
    </div>
</footer>