<section id="landing" class="page-section">
    <div class="section-wrapper">
        <main class="frame">
            <video src="/_includes/assets/media/example_video_01.mp4" controls></video>
        </main>
    </div>
</section>