<section id="landing" class="page-section">
    <div class="section-wrapper">
        <main class="frame">
            <video src="/_includes/assets/media/Process-2.mp4" controls autoplay playsinline></video>
        </main>
    </div>
</section>
