<main id="resume-contents" class="switcher">
    <div class="wrapper">
        <section id="left-column" class="stack s3">
            <div class="stack s1">
                <h3>Experience</h3>
                <div class="stack">
                    <h4 class="font-weight:normal">2018-present</h4>
                    <h4 class="font-weight:bold">Project ZIC</h4>
                    <p>Contract based services for Media
                        Production ( Storyboarding, film, editing, animation,
                        photography), Illustration, User Research
                        Collaboration, Product Design, Project Consultation and Management </p>
                </div>

                <div class="stack">
                    <h4 class="font-weight:normal">2017-2018</h4>
                    <h4 class="font-weight:bold">New York University, NY, USA</h4>
                    <p>Program Physical Object Subject Matter Expert</p>

                    <p>Developed an online Physical Computing Course with
                        Tandon Online Department and Professor Bennett</p>
                </div>

                <div class="stack">
                    <h4 class="font-weight:normal">2012-2015</h4>
                    <h4 class="font-weight:bold">SogoTrade, New York, USA</h4>
                    <p>Licensed Stock Broker, Product and Service Associate
                        Lead an Elite team of 10 to support increasing trade affair, including providing in
                        person training for
                        interns and oversea associates, creating manual and
                        guidelines, analysis customer feedback to improve website content and user experiences.
                    </p>
                </div>
            </div>
            <div class="stack s1">
                <h3>Projects</h3>
                <p>2017 IDM Zine, Brooklyn, NY</p>
                <p>2017 REIC Real Estate Investment Cooperation, NY, USA</p>
            </div>
            <div class="stack s1">
                <h3>Exhibitions</h3>
                <p>2018 Gregorys Coffee Gallery Night, New York, USA</p>
                <p>2017 Fixfest, London, UK</p>
                <p>2017 Media Lab, New York, USA</p>
                <p>2017 IDM Showcase, Brooklyn, USA</p>
            </div>
        </section>
        <section id="right-column" class="stack s3">
            <div class="stack s1">
                <h3>Education</h3>
                <div class="stack">
                    <h4 class="font-weight:normal">2016-2018</h4>
                    <h4 class="font-weight:bold">New York University, Tandon School of Engineering, Brooklyn, NY, USA
                    </h4>
                    <p>Master of Science, Integrated Digital Media</p>

                    <p>Coursework: Creative Coding, Interactive Installation, Photojournalism, and Visual Music</p>
                </div>
                <div class="stack">
                    <h4 class="font-weight:normal">2007-2011</h4>
                    <h4 class="font-weight:bold">Fujen Catholic University, Taipei, Taiwan</h4>
                    <p>Bachelor of Art, French Culture and Language Major,
                        Advertising Minor</p>
                </div>
            </div>
            <div class="stack s1">
                <h3>Skills</h3>
                <div class="stack">
                    <p>Design: Exhibition Design, UX Design</p>
                    <p>Programming: Java, JavaScript</p>
                    <p>Photography</p>
                    <p>Illustration</p>
                </div>
                <div class="stack s1">
                    <h3>Languages</h3>
                    <p>Mandarin ( Bilingual), French (Delf B2: business to native equivalent</p>
                </div>
            </div>
            <div class="stack s1">
                <h3>Interests</h3>
                <p>Dance fitness, Pole Fitness, Surfing</p>
            </div>

            <div class="stack s1">
                <h3>Contact</h3>
                <div>
                    <p>Email: angela@zics.me</p>
                    <p>Instagram: @zicsketch</p>
                </div>
            </div>
        </section>
    </div>
</main>