.navbar {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    padding: $s0 7vw;
    transition: top 0.3s ease-out;
    // box-shadow: 0 2px 6px #15151506;
}

@media screen and (max-width: 32em) {
    .navbar  nav {
        display: none;
    }
}