.page-section {
    width: 100%;
    padding: $s5 7vw;

    &:first-child {
      padding-top: $s3;
    }

    & > .section-wrapper {
      // max-width: 1300px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    &.cover {
      min-height: 80vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }