---
date: 2020-13-04
layout: /layouts/base.njk
title: About
permalink: "/about/"
tags: pages
---
<section class="page-section" id="about">
    <div class="section-wrapper">
        <div class="stack s2">
            <div class="stack centered">
                <h2 class="greeting">What's Good</h2>
                <img src="/_includes/assets/img/Angela.jpeg" class="w3-round w3-image w3-opacity-min"
                alt="a portrait of Angela Wang" width="600" height="750">
            </div>
            <p>Angela is a digital media artist.</p>
            <p>She has an aptitude for connecting the dots, because she believes there is always a reason behind an
                action.
                This
                belief is her theme to continuously collaborate on creative projects. As she captures the subtle
                interaction
                among people with a combination of video, drawing, photography, motion graphic, and animation. 
               
                <p class="font-weight:bold">angela@zics.me</p>
                <p>908 720 1666</p>
            </div>
            {% include "components/contact-info.njk" %}
        </div>
    </div>
</section>
