---
date: 2020-13-04
layout: /layouts/base.njk
title: About
permalink: "/about/"
tags: pages
---
<section class="page-section" id="about">
    <div class="section-wrapper">
        <div class="stack s2">
            <div class="stack centered">
                <h2 class="greeting">Hey</h2>
                <img src="/_includes/assets/img/Angela.jpeg" class="w3-round w3-image w3-opacity-min"
                alt="a portrait of Angela Wang" width="400" height="600">
            </div>
               <p>The sound ZIC /z ih k/, always associated with what my favorite photographer said:
               "L'instant décisive from Henri Cartier-Bresson (The decisive moment) and working as ZIC 
               reminds me never to forget my passion 初衷. <p> 

               <p>I believe in three things: 1st. Anything is possible with the right mind and persistence.
               2nd. Everything is relative, not absolute. 3rd. I once can float above ground for three seconds. 
               Hello, I am Angela also known as ZIC.

               <p>I have an aptitude for connecting the dots, and I believe there is always a reason behind an action. 
               This belief is my theme to continuously collaborate on creative projects. As I capture the subtle interaction 
               among people with a combination medium of video, sketching, photography, motion graphic, and animation.

                <p>I create visuals for the food and beverage industry, musicians, and filmmakers. 
                And I love to keep pushing the boundary between sensory experiences. 
                I am looking forward to connecting with you. 

                <p class="font-weight:bold">angela@zics.me</p>
                <p>908 720 1666</p>
            </div>
            {% include "components/contact-info.njk" %}
        </div>
    </div>
</section>
