---
date: 2020-14-04
layout: /layouts/base.njk
title: Resume
permalink: "/resume/"
tags: pages
---
<section class="page-section" id="resume">
    <div class="stack s3 centered">
        <h1>Angela Wang</h1>
        {% include "components/resume-contents.njk" %}
        <div class="cluster">
            <div class="wrapper">
                <a href="/_includes/assets/media/example_pdf.pdf" class="download-link">Download My Resume PDF</a>
            </div>
        </div>
    </div>
</section>